<html>
<head>
    <title>Restaurant List</title>
</head>
<body>
    <h1>{{ cuisine.getName }}</h1>

    <h4>Add a restaurant</h4>

    <form action='/restaurants' method='post'>
        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId }}">
        <label for='name'>Restaurant Name</label>
        <input id='name' name='name' type='text'>
        <label for='phone'>Phone Number</label>
        <input id='phone' name='phone' type='text'>
        <label for='price_range'>Price Range</label>
        <select name="price_range">
            <option value="Cheap">Cheap</option>
            <option value="Average">Average</option>
            <option value="Expensive">Expensive</option>
        </select>
        <button type='submit'>Add restaurant</button>
    </form>

    {% if restaurants is not empty %}
        <p>Here are the restaurants:</p>
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <h3>{{ restaurant.getName }}</h3>
                    <h4>Price Range: {{ restaurant.getPriceRange }}</h4>
                    <h4>Phone: {{ restaurant.getPhone }}</h4>
                    <h4>Reviews<h4>
                        <ul>{% for review in reviews %}
                            <li>
                                <p>{{ review.getDescription }}</p>
                                <p>Rating: <em>{{ review.getRating }}</em></p>
                            </li>
                        {% endfor %}
                    </ul>
                    <form action="/restaurants/{{ restaurant.getId }}/edit" method="get">
                        <button type="submit" name="button">Edit restaurant</button>
                    </form>
                    <form action="/restaurants/{{ restaurant.getId }}/review" method="get">
                        <button type="submit" name="button">Review this restaurant</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <form action="/delete_restaurants/{{ cuisine.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" name="button">Delete restaurants</button>
        </form>
    {% endif %}

    <p><a href='/'>Home</a></p>
</body>
</html>
