<html>
<head>
    <title>Restaurant List</title>
</head>
<body>
    <h1>Update Your Review</h1>
    <p>
        {{ review.getDescription }}
        {{ review.getRating }}
    </p>

    <form action="/restaurant/{{ restaurant.getId }}/review/{{ review.getId }}/edit" method="post">
      <input name="_method" type="hidden" value="patch">

      <label for="description">Edit Description:</label>
      <textarea rows="7" cols="50" id="description" name="description" type="text">{{ review.getDescription }}</textarea>

      <label for='rating'>Rating</label>
      <select name="rating" value="{{ review.getRating }}">
          <option value="*">*</option>
          <option value="**">**</option>
          <option value="***">***</option>
          <option value="****">****</option>
          <option value="*****">*****</option>
      </select>
      <button type="submit">Update</button>
    </form>
    <form action="/restaurants/{{ restaurant.getId }}/delete" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" name="button">Delete restaurant</button>
    </form>
    <p><a href='/'>Home</a></p>
</body>
</html>
