<html>
<head>
    <title>Restaurant List</title>
</head>
<body>
    <h1>{{ restaurant.getName }}</h1>

    <h4>Review {{ restaurant.getName }}</h4>

    <form action='/restaurants/{{ restaurant.getId }}/review' method='post'>
        <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId }}">
        <label for='description'>Review</label>
        <textarea rows="7" cols="50" id='description' name='description' type='text'></textarea>
        <label for='rating'>Rating</label>
        <select name="rating">
            <option value="*">*</option>
            <option value="**">**</option>
            <option value="***">***</option>
            <option value="****">****</option>
            <option value="*****">*****</option>
        </select>
        <button type='submit'>Review restaurant</button>
    </form>

    {% if reviews is not empty %}
        <p>{{ restaurant.getName }}:</p>
        <ul>
            {% for review in reviews %}
                <li>
                    <p>{{ review.getDescription }}</p>
                    <p>Rating: <em>{{ review.getRating }}</em></p>
                    <form action="/restaurants/{{ restaurant.getId }}/review/{{ review.getId }}/edit" method="get">
                        <button type="submit" name="button">Edit review</button>
                    </form>
                    <form action="/restaurants/{{ restaurant.getId }}/review/{{ review.getId }}/delete" method="get">
                        <button type="submit" name="button">Delete review</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>
            Hi
        </p>
    {% endif %}

    <p><a href='/'>Home</a></p>
</body>
</html>
